nodered/flows_piconode_installer.json
[
    {
        "id": "3b3b42dda42b6fc7",
        "type": "tab",
        "label": "PicoNode Installer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b87b3ec05c97c47",
        "type": "inject",
        "z": "3b3b42dda42b6fc7",
        "name": "Create Admin",
        "props": [
            {
                "p": "email",
                "v": "admin@admin.com",
                "vt": "str"
            },
            {
                "p": "password",
                "v": "admin",
                "vt": "str"
            },
            {
                "p": "role",
                "v": "admin",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "d50509cd9620d1e0"
            ]
        ]
    },
    {
        "id": "d50509cd9620d1e0",
        "type": "function",
        "z": "3b3b42dda42b6fc7",
        "name": "Create User",
        "func": "\n// Check if users exists\nif (global.get(\"users\") === undefined) {\n    global.set(\"users\", {});\n}\nvar users = global.get(\"users\");\n\n// Check if user already created\nif (msg.email in users) {\n\n    msg.payload = \"Admin already created\";\n} else {\n    users[msg.email] = {\n        \"password\": CryptoJS.SHA256(msg.password + global.get(\"salt\")).toString(),\n        \"role\": msg.role\n    }\n    global.set(\"users\", users);\n    msg.payload = \"Admin succesfully created\";\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "CryptoJS",
                "module": "crypto-js"
            }
        ],
        "x": 410,
        "y": 200,
        "wires": [
            [
                "ddcfac809cca322d"
            ]
        ]
    },
    {
        "id": "ddcfac809cca322d",
        "type": "debug",
        "z": "3b3b42dda42b6fc7",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 220,
        "wires": []
    },
    {
        "id": "1ac4636dc8d52a28",
        "type": "comment",
        "z": "3b3b42dda42b6fc7",
        "name": "Module to install",
        "info": "",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "0536a4671a90e429",
        "type": "inject",
        "z": "3b3b42dda42b6fc7",
        "name": "Delete Users",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "4a9d9bc3a3c02259"
            ]
        ]
    },
    {
        "id": "4a9d9bc3a3c02259",
        "type": "function",
        "z": "3b3b42dda42b6fc7",
        "name": "Delete Users",
        "func": "global.set(\"users\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "24533ddee20eaef7",
        "type": "inject",
        "z": "3b3b42dda42b6fc7",
        "name": "Create Salt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "bfd72f36af72ef86"
            ]
        ]
    },
    {
        "id": "bfd72f36af72ef86",
        "type": "function",
        "z": "3b3b42dda42b6fc7",
        "name": "Create Salt",
        "func": "// Code added here will be run once\n// whenever the node is started.\nconst saltLength = 16; // Longueur du salt en octets\nconst salt = CryptoJS.lib.WordArray.random(saltLength);\nmsg.payload = salt.toString();\nglobal.set(\"salt\", msg.payload);\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "CryptoJS",
                "module": "crypto-js"
            }
        ],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "ddcfac809cca322d"
            ]
        ]
    },
    {
        "id": "1b2f24a18c9cfdea",
        "type": "inject",
        "z": "3b3b42dda42b6fc7",
        "name": "Create Sessions / Tokens",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "bcdaa9a6dcd47d2f"
            ]
        ]
    },
    {
        "id": "bcdaa9a6dcd47d2f",
        "type": "function",
        "z": "3b3b42dda42b6fc7",
        "name": "Create Sessions / Tokens",
        "func": "if (global.get(\"sessions\") === undefined) {\n    global.set(\"sessions\", {});\n}\nif (global.get(\"tokens\") === undefined) {\n    global.set(\"tokens\", {});\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 320,
        "wires": [
            [
                "ddcfac809cca322d"
            ]
        ]
    }
]